<a href="https://colab.research.google.com/github/nxxk23/BasicProg_DataViz65/blob/main/Basic_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function ($f(x)$ = $y$)

```python
def function_name( input_x ) :
    # do something with input_x to get output_y
    return output_y
```

$f_1(x) = x^2 + 75$

In [ ]:
def function_f1(x):
    a = x**2     # ** คือยกกำลัง
    y = a +75
    return y

print('done!') #ไม่เยื้องแสดงว่าไม่อยู่ในฟังก์ชัน

done!

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมวด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชันก์ ชื่ออะไร def function_name () : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input _input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output return _Output_ (ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x) :
  a = x**2
  y = a+75
  return y

### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v() :
  y = 3.14159265359
  return y

In [ ]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### function ไม่มี process ไม่ได้

In [ ]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [7]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [8]:
print_name_id('นารากร','633020553-6')

ชื่อ นารากร รหัสประจำตัว 633020553-6

In [9]:
a = print_name_id('นารากร','633020553-6')

ชื่อ นารากร รหัสประจำตัว 633020553-6

In [10]:
a

ตัวอย่าง funtion print

In [11]:
print('นารากร')
print('633020553-6')

นารากร
633020553-6

In [12]:
print('นารากร',end='->')
print('633020553-6')

นารากร->633020553-6

In [13]:
print('นารากร','633020553-6')

นารากร 633020553-6

In [14]:
print('นารากร','633020553-6',sep=' & ')

นารากร & 633020553-6

### input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [15]:
def print_grade(name,id,grade = 'F') :
  print(f'รหัสประจำตัว {id} ชื่อ {name}')
  print(f'ได้เกรด {grade}')

In [16]:
print_grade('นารากร วรกุล','633020553-6')

รหัสประจำตัว 633020553-6 ชื่อ นารากร วรกุล
ได้เกรด F

In [17]:
print_grade('นารากร วรกุล','633020553-6','A')

รหัสประจำตัว 633020553-6 ชื่อ นารากร วรกุล
ได้เกรด A

In [18]:
print_grade(id='633020553-6',name='นารากร วรกุล',grade='A')

รหัสประจำตัว 633020553-6 ชื่อ นารากร วรกุล
ได้เกรด A

# Looping (for)

In [19]:
for member in listEx:
do_something()

IndentationError: ignored

In [2]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [3]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [4]:
for name in ['วัชราภรณ์','จุฑากาญจน์ ','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [5]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [20]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
----------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
----------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
----------------


##ใช้ for loop เพิ่มสมาชิกใน list

In [21]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [22]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

##การวนลูปด้วย ```range()```

In [23]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

##Loop ซ้อน  (nested loop)

In [24]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

In [27]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##Loop in Function

In [25]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [26]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

# Conditional Statment (if)

In [ ]:
if condition1:
    do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing()  ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()

In [29]:

for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

###operator ที่ใช้ตรวจสอบ condition
==, !=, >=, <=, <, >, and, or

In [30]:
a = 10 == 20
print(a)

False

In [31]:
b = 15 <= 20
print(b)

True

In [32]:
if a:
    print('x')

In [33]:
if True:
    print('x')

x

In [34]:
if a and b:
    print('x')

In [35]:
if a or b:
    print('x')

x