<a href="https://colab.research.google.com/github/nxxk23/BasicProg_DataViz65/blob/main/data%20preparing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#[Project](https://gobestimate.com/data-detail/Residental-Project-Data)
    opendata_project.csv
     ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ú‡∏π‡πâ‡∏û‡∏±‡∏í‡∏ô‡∏≤ ‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢

In [2]:
import pandas as pd
project = pd.read_csv('/content/drive/MyDrive/Project/opendata_project.csv')
print(project.shape)
project.head()

(22967, 46)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,7559.0,project_10253,The Villa Rachawadee,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ß‡∏¥‡∏•‡∏•‡πà‡∏≤ ‡∏£‡∏≤‡∏ä‡∏≤‡∏ß‡∏î‡∏µ,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,4690000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2017-09-27 14:21:11,NaN,2022-10-19 14:30:07,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ß‡∏¥‡∏•‡∏•‡πà‡∏≤-‡∏£‡∏≤‡∏ä‡∏≤...,2022-11-01
1,436.0,project_15897,Rajchaprarop Garden,‡∏£‡∏≤‡∏ä‡∏õ‡∏£‡∏≤‡∏£‡∏† ‡∏Å‡∏≤‡∏£‡πå‡πÄ‡∏î‡πâ‡∏ô,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1550000.0,developer_10510,NaN,...,0.0,0.0,0.0,1.0,2019-06-28 14:21:00,NaN,2020-12-04 10:43:13,baania,https://baania.com/th/project/‡∏£‡∏≤‡∏ä‡∏õ‡∏£‡∏≤‡∏£‡∏†-‡∏Å‡∏≤‡∏£‡πå‡πÄ‡∏î‡πâ...,2022-11-01
2,19301.0,project_10774,Baan Nayu,‡∏ö‡πâ‡∏≤‡∏ô‡∏ô‡πà‡∏≤‡∏≠‡∏¢‡∏π‡πà,4,Commercial,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,650000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2017-10-16 11:56:35,NaN,2021-07-06 15:00:10,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏ô‡πà‡∏≤‡∏≠‡∏¢‡∏π‡πà-proj...,2022-11-01
3,8877.0,5ea1685438be3400128e3698,Utopia Central,‡∏¢‡∏π‡πÇ‡∏ó‡πÄ‡∏õ‡∏µ‡∏¢ ‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±‡∏•,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,2450000.0,5ea15fb738be3400128e3679,"Utopia Development Co., Ltd.",...,1.0,NaN,1.0,1.0,2020-04-23 17:05:08,2022-01-01 07:00:00,2022-03-18 16:30:04,baania,https://baania.com/th/project/‡∏¢‡∏π‡πÇ‡∏ó‡πÄ‡∏õ‡∏µ‡∏¢-‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±...,2022-11-01
4,12216.0,project_1161,Rose Sarin,‡πÇ‡∏£‡∏™‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå (‡∏ó‡πà‡∏≤‡∏£‡∏±‡πâ‡∏ß),3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2300000.0,developer_1072,NaN,...,1.0,NaN,NaN,1.0,2016-02-16 10:49:01,2016-04-01 07:00:00,2022-01-11 16:30:05,baania,https://baania.com/th/project/‡πÇ‡∏£‡∏™‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå-‡∏ó‡πà‡∏≤‡∏£‡∏±‡πâ...,2022-11-01

#Data cleaning

##üìëopendata_project table

###Select column

In [3]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [4]:
project = project[['project_id', 'name_th', 'propertytype_id','propertytype_name_th', 'price_min','province_id','province_name_th']]

In [5]:
project.head()

,project_id,name_th,propertytype_id,propertytype_name_th,price_min,province_id,province_name_th
0,project_10253,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ß‡∏¥‡∏•‡∏•‡πà‡∏≤ ‡∏£‡∏≤‡∏ä‡∏≤‡∏ß‡∏î‡∏µ,1,‡∏ö‡πâ‡∏≤‡∏ô,4690000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
1,project_15897,‡∏£‡∏≤‡∏ä‡∏õ‡∏£‡∏≤‡∏£‡∏† ‡∏Å‡∏≤‡∏£‡πå‡πÄ‡∏î‡πâ‡∏ô,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1550000.0,3781.0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
2,project_10774,‡∏ö‡πâ‡∏≤‡∏ô‡∏ô‡πà‡∏≤‡∏≠‡∏¢‡∏π‡πà,4,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,650000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
3,5ea1685438be3400128e3698,‡∏¢‡∏π‡πÇ‡∏ó‡πÄ‡∏õ‡∏µ‡∏¢ ‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±‡∏•,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,2450000.0,2616.0,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï
4,project_1161,‡πÇ‡∏£‡∏™‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå (‡∏ó‡πà‡∏≤‡∏£‡∏±‡πâ‡∏ß),3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2300000.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà

### Missing/Null Checking

In [6]:
project.isnull().any()

project_id              False
name_th                 False
propertytype_id         False
propertytype_name_th    False
price_min                True
province_id              True
province_name_th         True
dtype: bool

In [7]:
project.dtypes

project_id               object
name_th                  object
propertytype_id          object
propertytype_name_th     object
price_min                object
province_id             float64
province_name_th         object
dtype: object

#### ‚á® dropna

In [8]:
# ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
print(len(project[project['price_min'].isnull()])) #we used dropna()
project = project.dropna(subset=['price_min'])

61

In [9]:
# 'province_id ' ‡∏£‡∏´‡∏±‡∏™‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î
print(len(project[project['province_id'].isnull()])) 
project = project.dropna(subset=['province_id'])

12

In [10]:
# 'province_name_th ' ‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î
print(len(project[project['province_name_th'].isnull()])) 
project = project.dropna(subset=['province_name_th'])

1

#### ‚á® fill Null with real world Knownlege

In [11]:
project.isnull().any()

project_id              False
name_th                 False
propertytype_id         False
propertytype_name_th    False
price_min               False
province_id             False
province_name_th        False
dtype: bool

In [12]:
#save data
project.to_csv('project_clean.csv', index=False)

#[Population ](https://www.data.go.th/th/dataset/statbyyear)
    stat_c64.csv
    ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡πÉ‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏ñ‡∏π‡∏Å‡πÄ‡∏Å‡πá‡∏ö‡πÉ‡∏ô‡∏õ‡∏µ 2564

In [13]:
population = pd.read_csv('/content/drive/MyDrive/Project/stat_c64.csv')
print(population.shape)
population.head()

(78, 13)

,‡∏õ‡∏µ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô,‡∏£‡∏´‡∏±‡∏™‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏£‡∏´‡∏±‡∏™‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô,‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô,‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•,‡∏ä‡∏∑‡πà‡∏≠‡∏ï‡∏≥‡∏ö‡∏•,‡∏£‡∏´‡∏±‡∏™‡∏´‡∏°‡∏π‡πà‡∏ö‡πâ‡∏≤‡∏ô,‡∏ä‡∏∑‡πà‡∏≠‡∏´‡∏°‡∏π‡πà‡∏ö‡πâ‡∏≤‡∏ô,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)
0,Ôªø6412,0,‡∏ó‡∏±‡πà‡∏ß‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®,0,-,0,-,0,-,"32,339,118","33,832,321","66,171,439","27,708,635"
1,6412,10,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,0,-,0,-,0,-,"2,592,292","2,935,702","5,527,994","3,147,231"
2,6412,11,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,0,-,0,-,0,-,"645,884","710,565","1,356,449","733,185"
3,6412,12,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,0,-,0,-,0,-,"599,167","689,470","1,288,637","728,953"
4,6412,13,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,0,-,0,-,0,-,"563,851","626,209","1,190,060","660,020"

##üìëpopulation table

### Select columns

In [14]:
population.columns

Index(['‡∏õ‡∏µ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô', '‡∏£‡∏´‡∏±‡∏™‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', '‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', '‡∏£‡∏´‡∏±‡∏™‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô',
       '‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô', '‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•', '‡∏ä‡∏∑‡πà‡∏≠‡∏ï‡∏≥‡∏ö‡∏•', '‡∏£‡∏´‡∏±‡∏™‡∏´‡∏°‡∏π‡πà‡∏ö‡πâ‡∏≤‡∏ô',
       '‡∏ä‡∏∑‡πà‡∏≠‡∏´‡∏°‡∏π‡πà‡∏ö‡πâ‡∏≤‡∏ô', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á',
       '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)'],
      dtype='object')

In [15]:
population = population[['‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)']]

In [16]:
population.head()

,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)
0,‡∏ó‡∏±‡πà‡∏ß‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®,"32,339,118","33,832,321","66,171,439","27,708,635"
1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,"2,592,292","2,935,702","5,527,994","3,147,231"
2,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,"645,884","710,565","1,356,449","733,185"
3,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"599,167","689,470","1,288,637","728,953"
4,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,"563,851","626,209","1,190,060","660,020"

### Missing/Null Checking

In [17]:
population.isnull().any()

‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢            False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á           False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î        False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)    False
dtype: bool

In [18]:
population.dtypes

‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                object
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢            object
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á           object
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î        object
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)    object
dtype: object

#### Remove subword='‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î' in column '‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î'

In [19]:
population['‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î'] = population['‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î'].str.replace('‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î','')
population

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)
0,‡∏ó‡∏±‡πà‡∏ß‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®,"32,339,118","33,832,321","66,171,439","27,708,635"
1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,"2,592,292","2,935,702","5,527,994","3,147,231"
2,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,"645,884","710,565","1,356,449","733,185"
3,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"599,167","689,470","1,288,637","728,953"
4,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,"563,851","626,209","1,190,060","660,020"
...,...,...,...,...,...
73,‡∏ï‡∏£‡∏±‡∏á,"312,693","327,095","639,788","237,935"
74,‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á,"254,425","268,116","522,541","199,687"
75,‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ,"360,348","369,233","729,581","199,103"
76,‡∏¢‡∏∞‡∏•‡∏≤,"269,907","272,407","542,314","173,226"
77,‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™,"400,501","409,159","809,660","223,141"

In [20]:
#save data
population.to_csv('population_clean.csv', index=False)

# [Province](https://gobestimate.com/data-detail/Province-Data/)
    opendata_province.csv
    ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≠‡∏ö‡πÄ‡∏Ç‡∏ï‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î

In [21]:
province = pd.read_csv('/content/drive/MyDrive/Project/opendata_province.csv')
print(province.shape)
province.head()

(77, 9)

,row_number,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,b_region_code,b_region_namt,geometry,day
0,22,5851,55,Nan,‡∏ô‡πà‡∏≤‡∏ô,3,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,MULTIPOLYGON(((100.894496287401 19.63439285647...,2022-11-01
1,35,4720,18,Chai Nat,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,2,‡∏Å‡∏•‡∏≤‡∏á,MULTIPOLYGON(((100.119853449448 15.41243176970...,2022-11-01
2,59,8249,85,Ranong,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,5,‡πÉ‡∏ï‡πâ,MULTIPOLYGON(((98.3529362014787 9.440757652349...,2022-11-01
3,65,7787,49,Mukdahan,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,MULTIPOLYGON(((104.252669379368 16.89274252537...,2022-11-01
4,7,8986,47,Sakon Nakhon,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,MULTIPOLYGON(((103.540472715261 18.06769949677...,2022-11-01

##üìëprovince table

### Select columns

In [22]:
province.columns

Index(['row_number', 'b_prov_id', 'b_prov_code', 'b_prov_name_en',
       'b_prov_name_th', 'b_region_code', 'b_region_namt', 'geometry', 'day'],
      dtype='object')

In [23]:
province = province[['b_prov_name_th' , 'b_region_namt']]
province

   b_prov_name_th       b_region_namt
0            ‡∏ô‡πà‡∏≤‡∏ô               ‡πÄ‡∏´‡∏ô‡∏∑‡∏≠
1          ‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó                ‡∏Å‡∏•‡∏≤‡∏á
2           ‡∏£‡∏∞‡∏ô‡∏≠‡∏á                 ‡πÉ‡∏ï‡πâ
3        ‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£  ‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠
4          ‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£  ‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠
..            ...                 ...
72        ‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ                ‡∏Å‡∏•‡∏≤‡∏á
73    ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°                ‡∏Å‡∏•‡∏≤‡∏á
74         ‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°                ‡∏Å‡∏•‡∏≤‡∏á
75      ‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ                ‡∏Å‡∏•‡∏≤‡∏á
76       ‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ                ‡∏Å‡∏•‡∏≤‡∏á

[77 rows x 2 columns]

### Missing/Null Checking

In [24]:
province.isnull().any()

b_prov_name_th    False
b_region_namt     False
dtype: bool

In [25]:
#save data
province.to_csv('province_clean.csv')

#[Establishment](http://statbbi.nso.go.th/staticreport/page/sector/th/12.aspx)

In [26]:
establishment = pd.read_csv('/content/drive/MyDrive/Project/establishment.csv')
establishment

,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£,‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï,‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ö‡∏≥‡∏ö‡∏±‡∏î‡∏ô‡πâ‡∏≥‡πÄ‡∏™‡∏µ‡∏¢‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏õ‡∏è‡∏¥‡∏Å‡∏π‡∏•,‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢-‡∏ã‡πà‡∏≠‡∏°‡πÅ‡∏ã‡∏°‡∏à‡∏±‡∏Å‡∏£‡∏¢‡∏≤‡∏ô‡∏¢‡∏ô‡∏ï‡πå,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏ó‡∏≤‡∏á‡∏ß‡∏¥‡∏ä‡∏≤‡∏ä‡∏µ‡∏û‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏∑‡πà‡∏ô‡πÜ,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡∏£‡∏ß‡∏°,"2,493,044","439,828","2,359","46,259","172,865","107,744","852,694","47,842","24,110","325,892","12,590","122,591","23,916","40,295","29,354","244,405",300
1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,"357,847","42,926",54,"5,061","19,712","28,393","106,098","2,883","1,222","54,315","2,811","34,473","8,056","8,019","3,257","40,502",65
2,‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•,"197,873","27,139",232,"3,185","15,563","9,045","62,842","1,573",345,"26,930",722,"20,557","2,264","2,737","2,196","22,489",54
3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,"54,382","8,172",50,659,"3,846","2,515","16,744",412,67,"6,500",54,"7,771",466,672,649,"5,784",21
4,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"39,681","3,916",13,"1,050","3,332","1,734","12,369",163,82,"6,299",247,"3,150",872,740,423,"5,279",12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,‡∏ï‡∏£‡∏±‡∏á,"30,930","3,664",13,853,"2,176","2,617","10,032",461,238,"4,455",178,677,263,797,592,"3,910",4
79,‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á,"26,390","4,749",9,"1,516","1,627","1,713","8,023",690,159,"2,934",205,274,181,"1,051",247,"3,011",1
80,‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ,"16,474","3,067",3,242,"1,111",984,"6,631",129,42,"2,768",157,205,99,167,35,834,-
81,‡∏¢‡∏∞‡∏•‡∏≤,"11,895",950,5,101,817,747,"5,744",50,59,"2,226",106,96,92,161,45,695,1
82,‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™,"21,431","2,515",3,167,"1,232","1,547","9,201",192,85,"4,669",162,192,57,222,88,"1,099",-

##üìëestablishment table

###Select columns

In [27]:
establishment.columns

Index(['‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£', '‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï',
       '‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ö‡∏≥‡∏ö‡∏±‡∏î‡∏ô‡πâ‡∏≥‡πÄ‡∏™‡∏µ‡∏¢‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏õ‡∏è‡∏¥‡∏Å‡∏π‡∏•', '‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á',
       '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢-‡∏ã‡πà‡∏≠‡∏°‡πÅ‡∏ã‡∏°‡∏à‡∏±‡∏Å‡∏£‡∏¢‡∏≤‡∏ô‡∏¢‡∏ô‡∏ï‡πå', '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á', '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å', '‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å',
       '‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°', '‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°', '‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£',
       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå', '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏ó‡∏≤‡∏á‡∏ß‡∏¥‡∏ä‡∏≤‡∏ä‡∏µ‡∏û‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå',
       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£', '‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£',
       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏∑‡πà‡∏ô‡πÜ', '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•'],
      dtype='object')

In [28]:
company = establishment[['‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£', '‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï','‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á','‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á', '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å', '‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å',
       '‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°', '‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°', '‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£',
       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå','‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£', '‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£','‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•']]
company

,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£,‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï,‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡∏£‡∏ß‡∏°,"2,493,044","439,828","46,259","107,744","852,694","47,842","24,110","325,892","12,590","122,591","40,295","29,354",300
1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,"357,847","42,926","5,061","28,393","106,098","2,883","1,222","54,315","2,811","34,473","8,019","3,257",65
2,‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•,"197,873","27,139","3,185","9,045","62,842","1,573",345,"26,930",722,"20,557","2,737","2,196",54
3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,"54,382","8,172",659,"2,515","16,744",412,67,"6,500",54,"7,771",672,649,21
4,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"39,681","3,916","1,050","1,734","12,369",163,82,"6,299",247,"3,150",740,423,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,‡∏ï‡∏£‡∏±‡∏á,"30,930","3,664",853,"2,617","10,032",461,238,"4,455",178,677,797,592,4
79,‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á,"26,390","4,749","1,516","1,713","8,023",690,159,"2,934",205,274,"1,051",247,1
80,‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ,"16,474","3,067",242,984,"6,631",129,42,"2,768",157,205,167,35,-
81,‡∏¢‡∏∞‡∏•‡∏≤,"11,895",950,101,747,"5,744",50,59,"2,226",106,96,161,45,1
82,‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™,"21,431","2,515",167,"1,547","9,201",192,85,"4,669",162,192,222,88,-

### Missing/Null Checking

In [29]:
company.isnull().any()

‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                         False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£              False
‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï                         False
‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á                     False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á                       False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å                      False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å                   False
‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°                       False
‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°       False
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£                   False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå          False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£    False
‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£    False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•            False
dtype: bool

In [30]:
#save data
company.to_csv('company_clean.csv')

# üîóMerge tables

merge population + province

In [31]:
import pandas as pd
province_clean = pd.read_csv('/content/province_clean.csv')
population_clean = pd.read_csv('/content/population_clean.csv')

In [32]:
df = province_clean.merge(population_clean,how= 'left', left_on='b_prov_name_th', right_on = '‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î')
df

,Unnamed: 0,b_prov_name_th,b_region_namt,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)
0,0,‡∏ô‡πà‡∏≤‡∏ô,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"237,959","237,916","475,875","173,216"
1,1,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"153,962","166,470","320,432","128,284"
2,2,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"98,136","96,437","194,573","94,295"
3,3,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"175,633","175,851","351,484","119,972"
4,4,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"569,364","576,922","1,146,286","396,177"
...,...,...,...,...,...,...,...,...
72,72,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"316,201","327,762","643,963","288,275"
73,73,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"91,101","99,741","190,842","73,940"
74,74,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"442,800","479,371","922,171","417,915"
75,75,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"448,312","445,742","894,054","353,679"
76,76,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"262,257","274,300","536,557","248,074"

#‡∏ï‡∏≤‡∏£‡∏≤‡∏á province + population

In [33]:
df1 = df[['b_region_namt','‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)']]
df1

,b_region_namt,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)
0,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"237,959","237,916","475,875","173,216"
1,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"153,962","166,470","320,432","128,284"
2,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"98,136","96,437","194,573","94,295"
3,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"175,633","175,851","351,484","119,972"
4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"569,364","576,922","1,146,286","396,177"
...,...,...,...,...,...,...
72,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"316,201","327,762","643,963","288,275"
73,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"91,101","99,741","190,842","73,940"
74,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"442,800","479,371","922,171","417,915"
75,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"448,312","445,742","894,054","353,679"
76,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"262,257","274,300","536,557","248,074"

In [34]:
df1.isnull().any()

b_region_namt              False
‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢            False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á           False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î        False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)    False
dtype: bool

#IDEA!!!!
    ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ä‡∏ô‡∏¥‡∏î‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î

In [35]:
project

,project_id,name_th,propertytype_id,propertytype_name_th,price_min,province_id,province_name_th
0,project_10253,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ß‡∏¥‡∏•‡∏•‡πà‡∏≤ ‡∏£‡∏≤‡∏ä‡∏≤‡∏ß‡∏î‡∏µ,1,‡∏ö‡πâ‡∏≤‡∏ô,4690000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
1,project_15897,‡∏£‡∏≤‡∏ä‡∏õ‡∏£‡∏≤‡∏£‡∏† ‡∏Å‡∏≤‡∏£‡πå‡πÄ‡∏î‡πâ‡∏ô,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1550000.0,3781.0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
2,project_10774,‡∏ö‡πâ‡∏≤‡∏ô‡∏ô‡πà‡∏≤‡∏≠‡∏¢‡∏π‡πà,4,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,650000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
3,5ea1685438be3400128e3698,‡∏¢‡∏π‡πÇ‡∏ó‡πÄ‡∏õ‡∏µ‡∏¢ ‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±‡∏•,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,2450000.0,2616.0,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï
4,project_1161,‡πÇ‡∏£‡∏™‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå (‡∏ó‡πà‡∏≤‡∏£‡∏±‡πâ‡∏ß),3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2300000.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
...,...,...,...,...,...,...,...
22962,project_11378,‡∏™‡∏∏‡∏Ç‡∏õ‡∏¥‡∏ï‡∏¥ ‡∏ß‡∏¥‡∏ß,3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2400000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
22963,project_958,‡∏ö‡πâ‡∏≤‡∏ô‡∏Ñ‡∏≥‡∏´‡∏¢‡∏≤‡∏î‡∏ü‡πâ‡∏≤,3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,1200000.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
22964,project_10169,‡∏ö‡πà‡∏≠‡∏ß‡∏¥‡∏ô‡∏ô‡∏Ñ‡∏£,4,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,5900000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
22965,project_13557,‡∏≠‡∏≠‡∏• ‡∏™‡∏ß‡∏µ‡∏ó ‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï‡∏ã‡∏¥‡∏ï‡∏µ‡πâ-‡∏û‡∏±‡∏ô‡∏ß‡∏≤,1,‡∏ö‡πâ‡∏≤‡∏ô,8000000.0,2616.0,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï
22966,project_15322,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏ï‡∏¥‡∏£‡∏±‡∏ï‡∏ô‡πå ‡∏ö‡πâ‡∏≤‡∏ô‡∏Å‡∏•‡πâ‡∏ß‡∏¢-‡πÑ‡∏ó‡∏£‡∏ô‡πâ‡∏≠‡∏¢,20000,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,2790000.0,3372.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ

In [36]:
#Sort 
df2 = project.sort_values('price_min')
df2

,project_id,name_th,propertytype_id,propertytype_name_th,price_min,province_id,province_name_th
22179,project_4108,‡∏û‡∏•‡∏±‡∏™‡πÄ‡∏ß‡∏¢‡πå‡πÄ‡∏Æ‡πâ‡∏≤‡∏™‡πå,3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,0.0,3372.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ
9275,5ebbad6b42ad800019cd15d3,‡πÇ‡∏°‡πÄ‡∏ß‡πà‡∏ô‡∏û‡∏¥‡∏Ñ ‡πÇ‡∏Æ‡πÄ‡∏ó‡∏•‡πÅ‡∏≠‡∏ô‡∏î‡πå‡πÄ‡∏£‡∏™‡∏ã‡∏¥‡πÄ‡∏î‡∏ô‡∏ã‡πå ‡∏û‡∏ç‡∏≤‡πÑ‡∏ó,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,0.0,3781.0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
9268,5fce566f2aaf68001220862d,‡∏™‡∏¥‡∏£‡∏¥‡∏ô‡∏®‡∏£‡∏µ‡∏ï‡∏£‡∏±‡∏á,20000,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,0.0,5003.0,‡∏ï‡∏£‡∏±‡∏á
14021,project_861,‡∏ö‡πâ‡∏≤‡∏ô‡∏û‡∏¥‡∏á‡∏Ñ‡πå‡∏ò‡∏≤‡∏ô‡∏µ,1,‡∏ö‡πâ‡∏≤‡∏ô,0.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
14017,63327c85ea1add001a54967a,‡πÄ‡∏û‡∏•‡∏¥‡∏ô ‡πÄ‡∏û‡∏•‡∏¥‡∏ô ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏° ‡∏û‡∏£‡∏∞‡∏£‡∏≤‡∏° 7‚Äì‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏ß‡∏¢ 3,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,0.0,3372.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ
...,...,...,...,...,...,...,...
15600,61cd18c00f4ed900132da795,‡πÄ‡∏™‡∏ô‡∏≤ ‡∏Ñ‡∏¥‡∏ó‡∏ó‡πå ‡πÄ‡∏≠‡πá‡∏°‡∏≠‡∏≤‡∏£‡πå‡∏ó‡∏µ - ‡∏ö‡∏≤‡∏á‡πÅ‡∏Ñ ‡πÄ‡∏ü‡∏™ 2,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,999999.0,3781.0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
5183,project_768,‡∏ö‡πâ‡∏≤‡∏ô‡∏™‡∏°‡∏´‡∏ß‡∏±‡∏á‡∏ß‡∏¥‡∏ß‡∏î‡∏≠‡∏¢,1,‡∏ö‡πâ‡∏≤‡∏ô,999999.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
13402,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,KHU BANG LUANG,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,LAT LUM KAEO,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,1.0,1.0
8,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,BAN CHANG,‡∏ö‡πâ‡∏≤‡∏ô‡∏â‡∏≤‡∏á,MUEANG PATHUM THANI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,1.0
7768,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,BAN CHANG,‡∏ö‡πâ‡∏≤‡∏ô‡∏â‡∏≤‡∏á,MUEANG PATHUM THANI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,1.0

#####Manage value
    Price_min has values which is non numeric so we replace values that is not digit with null then drop thier rows

In [37]:
project['price_min'] = pd.to_numeric(project['price_min'], errors='coerce')

In [38]:
project.price_min.astype(str).str.replace('\D', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0        46900000
1        15500000
2         6500000
3        24500000
4        23000000
           ...
22962    24000000
22963    12000000
22964    59000000
22965    80000000
22966    27900000
Name: price_min, Length: 22893, dtype: object

In [39]:
project = project.dropna(subset=['price_min']).reset_index()
project

,index,project_id,name_th,propertytype_id,propertytype_name_th,price_min,province_id,province_name_th
0,0,project_10253,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ß‡∏¥‡∏•‡∏•‡πà‡∏≤ ‡∏£‡∏≤‡∏ä‡∏≤‡∏ß‡∏î‡∏µ,1,‡∏ö‡πâ‡∏≤‡∏ô,4690000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
1,1,project_15897,‡∏£‡∏≤‡∏ä‡∏õ‡∏£‡∏≤‡∏£‡∏† ‡∏Å‡∏≤‡∏£‡πå‡πÄ‡∏î‡πâ‡∏ô,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1550000.0,3781.0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
2,2,project_10774,‡∏ö‡πâ‡∏≤‡∏ô‡∏ô‡πà‡∏≤‡∏≠‡∏¢‡∏π‡πà,4,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,650000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
3,3,5ea1685438be3400128e3698,‡∏¢‡∏π‡πÇ‡∏ó‡πÄ‡∏õ‡∏µ‡∏¢ ‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±‡∏•,2,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,2450000.0,2616.0,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï
4,4,project_1161,‡πÇ‡∏£‡∏™‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå (‡∏ó‡πà‡∏≤‡∏£‡∏±‡πâ‡∏ß),3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2300000.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
...,...,...,...,...,...,...,...,...
22885,22962,project_11378,‡∏™‡∏∏‡∏Ç‡∏õ‡∏¥‡∏ï‡∏¥ ‡∏ß‡∏¥‡∏ß,3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2400000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
22886,22963,project_958,‡∏ö‡πâ‡∏≤‡∏ô‡∏Ñ‡∏≥‡∏´‡∏¢‡∏≤‡∏î‡∏ü‡πâ‡∏≤,3,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,1200000.0,1005.0,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà
22887,22964,project_10169,‡∏ö‡πà‡∏≠‡∏ß‡∏¥‡∏ô‡∏ô‡∏Ñ‡∏£,4,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,5900000.0,4616.0,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ
22888,22965,project_13557,‡∏≠‡∏≠‡∏• ‡∏™‡∏ß‡∏µ‡∏ó ‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï‡∏ã‡∏¥‡∏ï‡∏µ‡πâ-‡∏û‡∏±‡∏ô‡∏ß‡∏≤,1,‡∏ö‡πâ‡∏≤‡∏ô,8000000.0,2616.0,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï
22889,22966,project_15322,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏ï‡∏¥‡∏£‡∏±‡∏ï‡∏ô‡πå ‡∏ö‡πâ‡∏≤‡∏ô‡∏Å‡∏•‡πâ‡∏ß‡∏¢-‡πÑ‡∏ó‡∏£‡∏ô‡πâ‡∏≠‡∏¢,20000,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,2790000.0,3372.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ

In [40]:
#select column
project = project[['province_name_th','propertytype_name_th','price_min']]
project

      province_name_th propertytype_name_th  price_min
0               ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ                 ‡∏ö‡πâ‡∏≤‡∏ô  4690000.0
1        ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î  1550000.0
2               ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ         ‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå   650000.0
3               ‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î  2450000.0
4            ‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà             ‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°  2300000.0
...                ...                  ...        ...
22885           ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ             ‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°  2400000.0
22886        ‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà             ‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°  1200000.0
22887           ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ         ‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå  5900000.0
22888           ‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï                 ‡∏ö‡πâ‡∏≤‡∏ô  8000000.0
22889          ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ              ‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î  2790000.0

[22890 rows x 3 columns]

In [41]:
project.to_csv('projectt.csv')

In [42]:
project.groupby(['province_name_th']).describe()

                 price_min                                                    \
                     count          mean           std        min        25%
province_name_th
‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà                14.0  3.755000e+06  3.131833e+06        0.0  1540000.0
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£       6692.0  5.755339e+06  9.621416e+06        0.0  1845250.0
‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ             40.0  2.363625e+06  2.196858e+06        0.0  1197500.0
‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå             12.0  1.682500e+06  6.459964e+05        0.0  1525000.0
‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£              3.0  1.930000e+06  2.306513e+05  1690000.0  1820000.0
...                    ...           ...           ...        ...        ...
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ             207.0  3.322070e+06  4.441700e+06        0.0  1350000.0
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå             14.0  1.730000e+06  1.259004e+06        0.0  1022500.0
‡πÄ‡∏•‡∏¢                   16.0  2.522500e+06  1.082014e+06  1100000.0  1642500.0
‡πÅ‡∏û‡∏£‡πà                   7.0  1.910000e+06  9.630335e+05        0.0  1724999.5
‡πÅ‡∏°‡πà‡∏Æ‡πà‡∏≠‡∏á‡∏™‡∏≠‡∏ô             1.0  1.850000e+06           NaN  1850000.0  1850000.0


                        50%        75%          max
province_name_th
‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà            2845000.0  6065000.0   10500000.0
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£     3200000.0  5850000.0  245000000.0
‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ         1700000.0  2422500.0    9900000.0
‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå         1690000.0  1940000.0    2500000.0
‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£         1950000.0  2050000.0    2150000.0
...                     ...        ...          ...
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ          2430000.0  3800000.0   45000000.0
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå         1095000.0  3025000.0    3700000.0
‡πÄ‡∏•‡∏¢               2590000.0  2967500.0    5250000.0
‡πÅ‡∏û‡∏£‡πà              1990000.0  2520000.0    2890000.0
‡πÅ‡∏°‡πà‡∏Æ‡πà‡∏≠‡∏á‡∏™‡∏≠‡∏ô        1850000.0  1850000.0    1850000.0

[72 rows x 8 columns]

In [43]:
project.groupby('province_name_th')['propertytype_name_th'].value_counts().unstack().fillna(0)

propertytype_name_th,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,‡∏ó‡∏µ‡πà‡∏î‡∏¥‡∏ô,‡∏ö‡πâ‡∏≤‡∏ô,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô,‡∏≠‡∏û‡∏≤‡∏ï‡πÄ‡∏°‡∏ô‡∏ï‡πå,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,‡πÇ‡∏Å‡∏î‡∏±‡∏á / ‡πÇ‡∏£‡∏á‡∏á‡∏≤‡∏ô,‡πÇ‡∏£‡∏á‡πÅ‡∏£‡∏°,‡πÇ‡∏Æ‡∏°‡∏≠‡∏≠‡∏ü‡∏ü‡∏¥‡∏®
province_name_th,,,,,,,,,,,
‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà,3.0,1.0,0.0,7.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,2528.0,1786.0,3.0,1726.0,235.0,3.0,8.0,264.0,0.0,3.0,136.0
‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,1.0,11.0,0.0,19.0,7.0,0.0,0.0,2.0,0.0,0.0,0.0
‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå,0.0,3.0,0.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ,51.0,35.0,0.0,99.0,6.0,0.0,1.0,15.0,0.0,0.0,0.0
‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå,0.0,3.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
‡πÄ‡∏•‡∏¢,0.0,0.0,0.0,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
‡πÅ‡∏û‡∏£‡πà,0.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
‡πÅ‡∏°‡πà‡∏Æ‡πà‡∏≠‡∏á‡∏™‡∏≠‡∏ô,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### in each province's project price min and max

In [44]:
df3 = project.groupby('province_name_th').agg({'price_min': ['min','max']}).reset_index()
df3

   province_name_th  price_min
                           min          max
0            ‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà        0.0   10500000.0
1     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£        0.0  245000000.0
2         ‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ        0.0    9900000.0
3         ‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå        0.0    2500000.0
4         ‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£  1690000.0    2150000.0
..              ...        ...          ...
67         ‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ        0.0   45000000.0
68        ‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå        0.0    3700000.0
69              ‡πÄ‡∏•‡∏¢  1100000.0    5250000.0
70             ‡πÅ‡∏û‡∏£‡πà        0.0    2890000.0
71       ‡πÅ‡∏°‡πà‡∏Æ‡πà‡∏≠‡∏á‡∏™‡∏≠‡∏ô  1850000.0    1850000.0

[72 rows x 3 columns]

#‡∏ï‡∏≤‡∏£‡∏≤‡∏á province + population + project

In [45]:
df4 = df1.merge(df3, how='left', left_on = '‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', right_on = 'province_name_th').fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
df4

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  validate=validate,

,b_region_namt,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô),"(province_name_th, )","(price_min, min)","(price_min, max)"
0,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"237,959","237,916","475,875","173,216",‡∏ô‡πà‡∏≤‡∏ô,1500000.0,3930000.0
1,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"153,962","166,470","320,432","128,284",‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏
2,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"98,136","96,437","194,573","94,295",‡∏£‡∏∞‡∏ô‡∏≠‡∏á,2790000.0,2790000.0
3,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"175,633","175,851","351,484","119,972",‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,0.0,3590000.0
4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"569,364","576,922","1,146,286","396,177",‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,0.0,3590000.0
...,...,...,...,...,...,...,...,...,...
72,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"316,201","327,762","643,963","288,275",‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,0.0,9000000.0
73,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"91,101","99,741","190,842","73,940",‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,0.0,4000000.0
74,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"442,800","479,371","922,171","417,915",‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,0.0,49000000.0
75,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"448,312","445,742","894,054","353,679",‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,0.0,9900000.0
76,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"262,257","274,300","536,557","248,074",‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,0.0,7900000.0

In [46]:
df4.isnull().any()

b_region_namt              False
‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢            False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á           False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î        False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)    False
(province_name_th, )       False
(price_min, min)           False
(price_min, max)           False
dtype: bool

In [47]:
company

,‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£,‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï,‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡∏£‡∏ß‡∏°,"2,493,044","439,828","46,259","107,744","852,694","47,842","24,110","325,892","12,590","122,591","40,295","29,354",300
1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,"357,847","42,926","5,061","28,393","106,098","2,883","1,222","54,315","2,811","34,473","8,019","3,257",65
2,‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•,"197,873","27,139","3,185","9,045","62,842","1,573",345,"26,930",722,"20,557","2,737","2,196",54
3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,"54,382","8,172",659,"2,515","16,744",412,67,"6,500",54,"7,771",672,649,21
4,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"39,681","3,916","1,050","1,734","12,369",163,82,"6,299",247,"3,150",740,423,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,‡∏ï‡∏£‡∏±‡∏á,"30,930","3,664",853,"2,617","10,032",461,238,"4,455",178,677,797,592,4
79,‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á,"26,390","4,749","1,516","1,713","8,023",690,159,"2,934",205,274,"1,051",247,1
80,‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ,"16,474","3,067",242,984,"6,631",129,42,"2,768",157,205,167,35,-
81,‡∏¢‡∏∞‡∏•‡∏≤,"11,895",950,101,747,"5,744",50,59,"2,226",106,96,161,45,1
82,‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™,"21,431","2,515",167,"1,547","9,201",192,85,"4,669",162,192,222,88,-

In [48]:
all = df4.merge(company, left_on='‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î', right_on='‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î')
all

,b_region_namt,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô),"(province_name_th, )","(price_min, min)","(price_min, max)",‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,...,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"237,959","237,916","475,875","173,216",‡∏ô‡πà‡∏≤‡∏ô,1500000.0,3930000.0,‡∏ô‡πà‡∏≤‡∏ô,...,817,"6,765",800,237,"2,203",61,589,260,246,-
1,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"153,962","166,470","320,432","128,284",‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,...,487,"4,521",947,79,"1,550",54,278,115,402,1
2,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"98,136","96,437","194,573","94,295",‡∏£‡∏∞‡∏ô‡∏≠‡∏á,2790000.0,2790000.0,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,...,708,"3,542",224,226,"1,113",21,125,166,198,1
3,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"175,633","175,851","351,484","119,972",‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,0.0,3590000.0,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,...,325,"4,555",448,166,"1,304",34,209,150,176,1
4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"569,364","576,922","1,146,286","396,177",‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,0.0,3590000.0,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,...,494,"10,840",535,252,"2,237",16,932,256,230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"316,201","327,762","643,963","288,275",‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,0.0,9000000.0,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,...,508,"8,368",275,134,"2,991",39,977,263,322,4
73,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"91,101","99,741","190,842","73,940",‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,0.0,4000000.0,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,...,279,"2,154",57,294,"1,047",13,234,56,49,1
74,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"442,800","479,371","922,171","417,915",‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,0.0,49000000.0,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,...,"1,400","10,798",373,69,"4,485",251,"2,269",383,350,4
75,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"448,312","445,742","894,054","353,679",‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,0.0,9900000.0,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,...,"1,099","10,002",552,491,"4,492",47,443,418,744,3
76,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"262,257","274,300","536,557","248,074",‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,0.0,7900000.0,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,673,"6,299",137,319,"2,466",96,477,157,191,2

In [49]:
all.columns

Index([               'b_region_namt',                  '‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î',
                    '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢',             '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á',
                '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î',      '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)',
             ('province_name_th', ''),           ('price_min', 'min'),
                 ('price_min', 'max'),                      '‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î',
                 '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£',                      '‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï',
                        '‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á',                    '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á',
                         '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å',                '‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å',
                          '‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°',    '‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°',
                      '‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£',       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå',
       '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£', '‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£',
               '‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•'],
      dtype='object')

In [50]:
#select columns
all = all[['b_region_namt','‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á','‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)',('price_min', 'min'),('price_min', 'max'),'‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£','‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï','‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á',
     '‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á','‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å','‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å','‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°','‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°','‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£','‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå','‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£', '‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£','‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•']]
all

/usr/local/lib/python3.7/dist-packages/pandas/core/common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

,b_region_namt,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô),"(price_min, min)","(price_min, max)",‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£,‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï,...,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"475,875","237,959","237,916","173,216",1500000.0,3930000.0,"28,036","11,547",...,817,"6,765",800,237,"2,203",61,589,260,246,-
1,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"320,432","153,962","166,470","128,284",‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"14,206","3,118",...,487,"4,521",947,79,"1,550",54,278,115,402,1
2,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"194,573","98,136","96,437","94,295",2790000.0,2790000.0,"8,777",902,...,708,"3,542",224,226,"1,113",21,125,166,198,1
3,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"351,484","175,633","175,851","119,972",0.0,3590000.0,"14,282","4,620",...,325,"4,555",448,166,"1,304",34,209,150,176,1
4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"1,146,286","569,364","576,922","396,177",0.0,3590000.0,"28,359","8,433",...,494,"10,840",535,252,"2,237",16,932,256,230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"643,963","316,201","327,762","288,275",0.0,9000000.0,"20,094","2,100",...,508,"8,368",275,134,"2,991",39,977,263,322,4
73,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"190,842","91,101","99,741","73,940",0.0,4000000.0,"6,298","1,126",...,279,"2,154",57,294,"1,047",13,234,56,49,1
74,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"922,171","442,800","479,371","417,915",0.0,49000000.0,"31,533","4,486",...,"1,400","10,798",373,69,"4,485",251,"2,269",383,350,4
75,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"894,054","448,312","445,742","353,679",0.0,9900000.0,"28,245","4,255",...,"1,099","10,002",552,491,"4,492",47,443,418,744,3
76,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"536,557","262,257","274,300","248,074",0.0,7900000.0,"16,106","2,082",...,673,"6,299",137,319,"2,466",96,477,157,191,2

In [51]:
all.rename(columns={'b_region_namt': '‡∏†‡∏≤‡∏Ñ'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

#‡∏ï‡∏≤‡∏£‡∏≤‡∏á province + population + project + company

In [52]:
all

,‡∏†‡∏≤‡∏Ñ,‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô),"(price_min, min)","(price_min, max)",‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£,‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï,...,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á,‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å,‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å,‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°,‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°,‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£,‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£,‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•
0,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏ô‡πà‡∏≤‡∏ô,"475,875","237,959","237,916","173,216",1500000.0,3930000.0,"28,036","11,547",...,817,"6,765",800,237,"2,203",61,589,260,246,-
1,‡∏Å‡∏•‡∏≤‡∏á,‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó,"320,432","153,962","166,470","128,284",‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"14,206","3,118",...,487,"4,521",947,79,"1,550",54,278,115,402,1
2,‡πÉ‡∏ï‡πâ,‡∏£‡∏∞‡∏ô‡∏≠‡∏á,"194,573","98,136","96,437","94,295",2790000.0,2790000.0,"8,777",902,...,708,"3,542",224,226,"1,113",21,125,166,198,1
3,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏°‡∏∏‡∏Å‡∏î‡∏≤‡∏´‡∏≤‡∏£,"351,484","175,633","175,851","119,972",0.0,3590000.0,"14,282","4,620",...,325,"4,555",448,166,"1,304",34,209,150,176,1
4,‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£,"1,146,286","569,364","576,922","396,177",0.0,3590000.0,"28,359","8,433",...,494,"10,840",535,252,"2,237",16,932,256,230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ,"643,963","316,201","327,762","288,275",0.0,9000000.0,"20,094","2,100",...,508,"8,368",275,134,"2,991",39,977,263,322,4
73,‡∏Å‡∏•‡∏≤‡∏á,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°,"190,842","91,101","99,741","73,940",0.0,4000000.0,"6,298","1,126",...,279,"2,154",57,294,"1,047",13,234,56,49,1
74,‡∏Å‡∏•‡∏≤‡∏á,‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°,"922,171","442,800","479,371","417,915",0.0,49000000.0,"31,533","4,486",...,"1,400","10,798",373,69,"4,485",251,"2,269",383,350,4
75,‡∏Å‡∏•‡∏≤‡∏á,‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ,"894,054","448,312","445,742","353,679",0.0,9900000.0,"28,245","4,255",...,"1,099","10,002",552,491,"4,492",47,443,418,744,3
76,‡∏Å‡∏•‡∏≤‡∏á,‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,"536,557","262,257","274,300","248,074",0.0,7900000.0,"16,106","2,082",...,673,"6,299",137,319,"2,466",96,477,157,191,2

In [53]:
all.isnull().any()

‡∏†‡∏≤‡∏Ñ                             False
‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î                     False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î             False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏ä‡∏≤‡∏¢                 False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£‡∏´‡∏ç‡∏¥‡∏á                False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡πâ‡∏≤‡∏ô (‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏≤‡πÄ‡∏£‡∏∑‡∏≠‡∏ô)         False
(price_min, min)                False
(price_min, max)                False
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏Å‡∏≤‡∏£              False
‡∏Å‡∏≤‡∏£‡∏ú‡∏•‡∏¥‡∏ï                         False
‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á                     False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡πà‡∏á                       False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏õ‡∏•‡∏µ‡∏Å                      False
‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏ö‡∏Å                   False
‡∏ó‡∏µ‡πà‡∏û‡∏±‡∏Å‡πÅ‡∏£‡∏°                       False
‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏î‡∏∑‡πà‡∏°       False
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πà‡∏≤‡∏ß‡∏™‡∏≤‡∏£                   False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå          False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£    False
‡∏®‡∏¥‡∏•‡∏õ‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ö‡∏±‡∏ô‡πÄ‡∏ó‡∏¥‡∏á‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ô‡∏ó‡∏ô‡∏≤‡∏Å‡∏≤‡∏£    False
‡∏Å‡∏¥‡∏à‡∏Å‡∏£‡∏£‡∏°‡∏î‡πâ‡∏≤‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•            False
dtype: bool

In [54]:
#save data
all.to_csv('final.csv')