<a href="https://colab.research.google.com/github/nxxk23/BasicProg_DataViz65/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount Drive

In [203]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##[World Population Dataset](https://www.kaggle.com/datasets/tanuprabhu/population-by-country-2020)

    ใช้ข้อมูลประเทศ, เมืองหลวง, จำนวนประชากรปี 2020 และพื้นที่(ตารางกิโลเมตร)

In [124]:
import pandas as pd

In [150]:
population = pd.read_csv('/content/drive/MyDrive/dataviz2022/population_by_country_2020.csv')
population

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [152]:
pop = population[['Country (or dependency)','Population (2020)','Land Area (Km²)']]
pop

    Country (or dependency)  Population (2020)  Land Area (Km²)
0                     China         1440297825          9388211
1                     India         1382345085          2973190
2             United States          331341050          9147420
3                 Indonesia          274021604          1811570
4                  Pakistan          221612785           770880
..                      ...                ...              ...
230              Montserrat               4993              100
231        Falkland Islands               3497            12170
232                    Niue               1628              260
233                 Tokelau               1360               10
234                Holy See                801                0

[235 rows x 3 columns]

In [153]:
pop.isnull().any()

Country (or dependency)    False
Population (2020)          False
Land Area (Km²)            False
dtype: bool

##[Lattitude/Longtitude Dataset](https://www.kaggle.com/datasets/paultimothymooney/latitude-and-longitude-for-every-country-and-state)

    Lat/Long of each country Dataset

In [184]:
Area = pd.read_csv('/content/drive/MyDrive/dataviz2022/world_country_and_usa_states_latitude_and_longitude_values.csv')
Area

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [185]:
Areas = Area[['latitude','longitude','country']]
Areas

      latitude  longitude               country
0    42.546245   1.601554               Andorra
1    23.424076  53.847818  United Arab Emirates
2    33.939110  67.709953           Afghanistan
3    17.060816 -61.796428   Antigua and Barbuda
4    18.220554 -63.068615              Anguilla
..         ...        ...                   ...
240  15.552727  48.516388                 Yemen
241 -12.827500  45.166244               Mayotte
242 -30.559482  22.937506          South Africa
243 -13.133897  27.849332                Zambia
244 -19.015438  29.154857              Zimbabwe

[245 rows x 3 columns]

In [186]:
Areas.isnull().any()

latitude      True
longitude     True
country      False
dtype: bool

In [187]:
A = Areas.dropna()
A

      latitude  longitude               country
0    42.546245   1.601554               Andorra
1    23.424076  53.847818  United Arab Emirates
2    33.939110  67.709953           Afghanistan
3    17.060816 -61.796428   Antigua and Barbuda
4    18.220554 -63.068615              Anguilla
..         ...        ...                   ...
240  15.552727  48.516388                 Yemen
241 -12.827500  45.166244               Mayotte
242 -30.559482  22.937506          South Africa
243 -13.133897  27.849332                Zambia
244 -19.015438  29.154857              Zimbabwe

[244 rows x 3 columns]

In [188]:
A.isnull().any()

latitude     False
longitude    False
country      False
dtype: bool

##[COVID-19 Dataset](https://www.kaggle.com/datasets/imdevskp/corona-virus-report?fbclid=IwAR30EScO6l_QFIStmhMaYaAzwTXR4_rqjS-89wLr9dn17bETA8uZRJy0Gzs)

In [183]:
Covid.isnull().any()

Continent         False
Country/Region    False
TotalCases        False
TotalDeaths       False
dtype: bool

In [182]:
Covid = cov.dropna()
Covid

         Continent         Country/Region  TotalCases  TotalDeaths
0    North America                    USA     5032179     162804.0
1    South America                 Brazil     2917562      98644.0
2             Asia                  India     2025409      41638.0
3           Europe                 Russia      871894      14606.0
4           Africa           South Africa      538184       9604.0
..             ...                    ...         ...          ...
204  North America             Montserrat          13          1.0
205  North America  Caribbean Netherlands          13          0.0
206  South America       Falkland Islands          13          0.0
207         Europe           Vatican City          12          0.0
208         Africa         Western Sahara          10          1.0

[208 rows x 4 columns]

### Fill Missing Data in column TotalDeaths if TotalDeath is NaN then the value must be Zero(0)

In [176]:
cov.columns #check column types

Index(['Continent', 'Country/Region', 'TotalCases', 'TotalDeaths'], dtype='object')

In [178]:
cov[['TotalDeaths']] = cov[['TotalDeaths']].fillna(0)
cov[['TotalDeaths']]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

     TotalDeaths
0       162804.0
1        98644.0
2        41638.0
3        14606.0
4         9604.0
..           ...
204          1.0
205          0.0
206          0.0
207          0.0
208          1.0

[209 rows x 1 columns]

In [179]:
cov.isnull().any()

Continent          True
Country/Region    False
TotalCases        False
TotalDeaths       False
dtype: bool

In [175]:
cov.isnull().any()

Continent          True
Country/Region    False
TotalCases        False
TotalDeaths        True
dtype: bool

In [174]:
cov=covid[['Continent','Country/Region','TotalCases','TotalDeaths']]
cov

         Continent         Country/Region  TotalCases  TotalDeaths
0    North America                    USA     5032179     162804.0
1    South America                 Brazil     2917562      98644.0
2             Asia                  India     2025409      41638.0
3           Europe                 Russia      871894      14606.0
4           Africa           South Africa      538184       9604.0
..             ...                    ...         ...          ...
204  North America             Montserrat          13          1.0
205  North America  Caribbean Netherlands          13          NaN
206  South America       Falkland Islands          13          NaN
207         Europe           Vatican City          12          NaN
208         Africa         Western Sahara          10          1.0

[209 rows x 4 columns]

    ใช้ข้อมูลจำนวนคอนเฟิร์มเคสผู้ติดเชื้อโควิด-19 ถูกเก็บตั้งแต่วันที่ 21/1/2020 - 27/7/2020
    - Column : Country/Region, TotalCases, TotalDeaths

In [154]:
covid = pd.read_csv('/content/drive/MyDrive/dataviz2022/worldometer_data.csv')
covid

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

##[Country By Continent Dataset](https://www.kaggle.com/datasets/lukexun/country-area-continent-region-codes?fbclid=IwAR0XO3HgASVUog7faY_B0UNkL-pYvFirleEr3aX1h_o1tRaF7LPcECLuHpQ)

In [205]:
con = pd.read_csv('/content/drive/MyDrive/dataviz2022/country_and_area_data.csv')
con

,country _or_area,iso_alpha3 _code,m49_code,region_1,region_2,continent,population_rank,population,population_percentage_ of_the_world,date
0,Afghanistan,AFG,4,Southern Asia,NaN,Asia,43,32890171,0.00414,1/07/2020
1,Åland Islands,ALA,248,Northern Europe,NaN,Europe,–,30344,0.00000382,31/12/2021
2,Albania,ALB,8,Southern Europe,NaN,Europe,135,2829741,0.000356,1/01/2021
3,Algeria,DZA,12,Northern Africa,NaN,Africa,32,45400000,0.00571,1/01/2022
4,American Samoa,ASM,16,Polynesia,NaN,Oceania,–,49710,0.00000625,1/04/2020
...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,ESH,732,Northern Africa,NaN,Africa,–,612000,0.000077,1/07/2021
246,Yemen,YEM,887,Western Asia,NaN,Asia,48,30491000,0.00383,1/07/2021
247,Zambia,ZMB,894,Eastern Africa,Sub-Saharan Africa,Africa,64,18400556,0.00231,1/07/2021
248,Zimbabwe,ZWE,716,Eastern Africa,Sub-Saharan Africa,Africa,72,15790716,0.00199,1/07/2021
249,Taiwan,TWN,158,Eastern Asia,Province of China,Asia,–,23375314,0.00294,31/12/2021

In [207]:
Con = con[['continent','country _or_area']]
Con

    continent country _or_area
0        Asia      Afghanistan
1      Europe    Åland Islands
2      Europe          Albania
3      Africa          Algeria
4     Oceania   American Samoa
..        ...              ...
245    Africa   Western Sahara
246      Asia            Yemen
247    Africa           Zambia
248    Africa         Zimbabwe
249      Asia           Taiwan

[250 rows x 2 columns]

#Merge Data into 1 Table

In [214]:
df1 = Con.merge(Covid, how='left', left_on='country _or_area', right_on = 'Country/Region')
df1

,continent,country _or_area,Continent,Country/Region,TotalCases,TotalDeaths
0,Asia,Afghanistan,Asia,Afghanistan,36896.0,1298.0
1,Europe,Åland Islands,NaN,NaN,NaN,NaN
2,Europe,Albania,Europe,Albania,6016.0,188.0
3,Africa,Algeria,Africa,Algeria,33626.0,1273.0
4,Oceania,American Samoa,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
245,Africa,Western Sahara,Africa,Western Sahara,10.0,1.0
246,Asia,Yemen,Asia,Yemen,1768.0,508.0
247,Africa,Zambia,Africa,Zambia,7164.0,199.0
248,Africa,Zimbabwe,Africa,Zimbabwe,4339.0,84.0
249,Asia,Taiwan,Asia,Taiwan,477.0,7.0

In [218]:
df = df1.dropna()

In [219]:
df2 = df.merge(pop, how='left', left_on='country _or_area', right_on = 'Country (or dependency)')
df2

,continent,country _or_area,Continent,Country/Region,TotalCases,TotalDeaths,Country (or dependency),Population (2020),Land Area (Km²)
0,Asia,Afghanistan,Asia,Afghanistan,36896.0,1298.0,Afghanistan,39074280.0,652860.0
1,Europe,Albania,Europe,Albania,6016.0,188.0,Albania,2877239.0,27400.0
2,Africa,Algeria,Africa,Algeria,33626.0,1273.0,Algeria,43984569.0,2381740.0
3,Europe,Andorra,Europe,Andorra,944.0,52.0,Andorra,77287.0,470.0
4,Africa,Angola,Africa,Angola,1483.0,64.0,Angola,33032075.0,1246700.0
...,...,...,...,...,...,...,...,...,...
187,Africa,Western Sahara,Africa,Western Sahara,10.0,1.0,Western Sahara,599769.0,266000.0
188,Asia,Yemen,Asia,Yemen,1768.0,508.0,Yemen,29935468.0,527970.0
189,Africa,Zambia,Africa,Zambia,7164.0,199.0,Zambia,18468257.0,743390.0
190,Africa,Zimbabwe,Africa,Zimbabwe,4339.0,84.0,Zimbabwe,14899771.0,386850.0
191,Asia,Taiwan,Asia,Taiwan,477.0,7.0,Taiwan,23824369.0,35410.0

In [220]:
df2.isnull().any()

continent                  False
country _or_area           False
Continent                  False
Country/Region             False
TotalCases                 False
TotalDeaths                False
Country (or dependency)     True
Population (2020)           True
Land Area (Km²)             True
dtype: bool

In [222]:
df3 = df2.merge(A, how = 'left', left_on='country _or_area', right_on = 'country')
df3

,continent,country _or_area,Continent,Country/Region,TotalCases,TotalDeaths,Country (or dependency),Population (2020),Land Area (Km²),latitude,longitude,country
0,Asia,Afghanistan,Asia,Afghanistan,36896.0,1298.0,Afghanistan,39074280.0,652860.0,33.939110,67.709953,Afghanistan
1,Europe,Albania,Europe,Albania,6016.0,188.0,Albania,2877239.0,27400.0,41.153332,20.168331,Albania
2,Africa,Algeria,Africa,Algeria,33626.0,1273.0,Algeria,43984569.0,2381740.0,28.033886,1.659626,Algeria
3,Europe,Andorra,Europe,Andorra,944.0,52.0,Andorra,77287.0,470.0,42.546245,1.601554,Andorra
4,Africa,Angola,Africa,Angola,1483.0,64.0,Angola,33032075.0,1246700.0,-11.202692,17.873887,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...
187,Africa,Western Sahara,Africa,Western Sahara,10.0,1.0,Western Sahara,599769.0,266000.0,24.215527,-12.885834,Western Sahara
188,Asia,Yemen,Asia,Yemen,1768.0,508.0,Yemen,29935468.0,527970.0,15.552727,48.516388,Yemen
189,Africa,Zambia,Africa,Zambia,7164.0,199.0,Zambia,18468257.0,743390.0,-13.133897,27.849332,Zambia
190,Africa,Zimbabwe,Africa,Zimbabwe,4339.0,84.0,Zimbabwe,14899771.0,386850.0,-19.015438,29.154857,Zimbabwe
191,Asia,Taiwan,Asia,Taiwan,477.0,7.0,Taiwan,23824369.0,35410.0,23.697810,120.960515,Taiwan

In [223]:
df3.isnull().any()

continent                  False
country _or_area           False
Continent                  False
Country/Region             False
TotalCases                 False
TotalDeaths                False
Country (or dependency)     True
Population (2020)           True
Land Area (Km²)             True
latitude                    True
longitude                   True
country                     True
dtype: bool

In [228]:
df4 = df3.dropna()
df4

,continent,country _or_area,Continent,Country/Region,TotalCases,TotalDeaths,Country (or dependency),Population (2020),Land Area (Km²),latitude,longitude,country
0,Asia,Afghanistan,Asia,Afghanistan,36896.0,1298.0,Afghanistan,39074280.0,652860.0,33.939110,67.709953,Afghanistan
1,Europe,Albania,Europe,Albania,6016.0,188.0,Albania,2877239.0,27400.0,41.153332,20.168331,Albania
2,Africa,Algeria,Africa,Algeria,33626.0,1273.0,Algeria,43984569.0,2381740.0,28.033886,1.659626,Algeria
3,Europe,Andorra,Europe,Andorra,944.0,52.0,Andorra,77287.0,470.0,42.546245,1.601554,Andorra
4,Africa,Angola,Africa,Angola,1483.0,64.0,Angola,33032075.0,1246700.0,-11.202692,17.873887,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...
187,Africa,Western Sahara,Africa,Western Sahara,10.0,1.0,Western Sahara,599769.0,266000.0,24.215527,-12.885834,Western Sahara
188,Asia,Yemen,Asia,Yemen,1768.0,508.0,Yemen,29935468.0,527970.0,15.552727,48.516388,Yemen
189,Africa,Zambia,Africa,Zambia,7164.0,199.0,Zambia,18468257.0,743390.0,-13.133897,27.849332,Zambia
190,Africa,Zimbabwe,Africa,Zimbabwe,4339.0,84.0,Zimbabwe,14899771.0,386850.0,-19.015438,29.154857,Zimbabwe
191,Asia,Taiwan,Asia,Taiwan,477.0,7.0,Taiwan,23824369.0,35410.0,23.697810,120.960515,Taiwan

In [229]:
final=df4[['continent','country _or_area','latitude','longitude','Population (2020)','Land Area (Km²)','TotalCases','TotalDeaths']]

In [233]:
final.isnull().any()

continent            False
country _or_area     False
latitude             False
longitude            False
Population (2020)    False
Land Area (Km²)      False
TotalCases           False
TotalDeaths          False
dtype: bool

In [234]:
final

,continent,country _or_area,latitude,longitude,Population (2020),Land Area (Km²),TotalCases,TotalDeaths
0,Asia,Afghanistan,33.939110,67.709953,39074280.0,652860.0,36896.0,1298.0
1,Europe,Albania,41.153332,20.168331,2877239.0,27400.0,6016.0,188.0
2,Africa,Algeria,28.033886,1.659626,43984569.0,2381740.0,33626.0,1273.0
3,Europe,Andorra,42.546245,1.601554,77287.0,470.0,944.0,52.0
4,Africa,Angola,-11.202692,17.873887,33032075.0,1246700.0,1483.0,64.0
...,...,...,...,...,...,...,...,...
187,Africa,Western Sahara,24.215527,-12.885834,599769.0,266000.0,10.0,1.0
188,Asia,Yemen,15.552727,48.516388,29935468.0,527970.0,1768.0,508.0
189,Africa,Zambia,-13.133897,27.849332,18468257.0,743390.0,7164.0,199.0
190,Africa,Zimbabwe,-19.015438,29.154857,14899771.0,386850.0,4339.0,84.0
191,Asia,Taiwan,23.697810,120.960515,23824369.0,35410.0,477.0,7.0

In [236]:
final.to_excel('finaldata.xlsx')